@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add custom styles for the slider thumb */
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px; 
  height: 24px;
  background: white; 
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border: 1px solid #999;
}

input[type='range']::-moz-range-thumb {
  width: 10px; 
  height: 24px;
  background: white;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border: 1px solid #999;
}
