:root {
    /* Your default theme */
    --background: white;
    --background1: white;
    --foreground: black;
    --foreground1: white;
    --primary: #2B2C3B;
    --primaryText: #2B2C3B;
    --secondary: #0A0118;
    --btnWaitlist: #0A0118;
    --btn2: #0A0118;
    --text2: #475467;
    --text3: #475467;
    --textII:#fff;
    --gradient2: #EA3943;
    --modeBackground: #F4F4F4;
    --modeIconBackSelect: #FFFFFF;
    --iconColorBg1: #EFEFEF;
    --borderColor: #E9ECEB;
    --borderColorI: #D2D3D9;
    --textI: #080542;
    --gray: #545454;
    --priceText: #545454;
    --tableHeaderText: #545454;
    --dropDownBg: #FAFAFA;
    --iconColor: #101828;
    --btnClick: #101828;
    --modalText:#101828;
    --bgList: #fff;
    --List1: #EA3943;
    --List2: #26A17B;
    --gradient1: linear-gradient(180deg, #009E61 -29.17%, rgba(22, 199, 130, 0) 118.38%);
    --gradient2: linear-gradient(180deg, #EA3943 -40.93%, rgba(234, 57, 67, 0.00520833) 125.47%, rgba(234, 57, 67, 0) 125.49%);
    --text-sm:14px;
    --currentPlanBtnBg:#FF0000;
    --currentPlanBtnBgI:#101828;
    --currentPlanBtnText:#fff;
    --planBG:#fff;
    --smallText:#667085;
    --smallTextI:#6B7280;
    --paymentSmallText:#545454;
    --paymentBorder:rgba(20, 23, 54, 0.2);
    --paymentText:#595959;
    --paymentTextI:#565656;
    --paymentTextII:#9A9A9A;
    --paymentBorder:#D0D1D7;
    --iconBg:#FEF3F2;
    --iconText:#FF0000;
    --navBtnBG:linear-gradient(111.39deg, #FF0000 -26.06%, #7374FF 100.52%);
    --loginBorder:rgba(168, 168, 168, 0.5);
    --loginBG:white;
    --loginInputBorder:#A1A8B4;
    --bgMode:#0A0118;
}

[data-theme='dark'] {
    --background: black;
    --foreground: white;
    --foreground1: #19171C;
    --btnWaitlist: linear-gradient(111.39deg, #FF0000 -26.06%, #7374FF 100.52%);
    --borderColor: #363638;
    --borderColorI: #fff;

    /* --primary:#fff; */
    --primaryText: #fff;
    --btn2: #2D2C2F;
    --text2: #D1D1D1;
    --text3: #fff;
    --textII:#0A0118;
    --gradient2: #EA3943;
    --secondary: #fff;
    --modeBackground: #3E3E3E;
    --modeIconBackSelect: #787878;
    --iconColorBg1: #3E3E3E;
    --textI: #fff;
    --priceText: #fff;
    --tableHeaderText: #A6A6A6;
    --gray: #CACACA;
    --dropDownBg: #343334;
    --iconColor: #FFFFFF;
    --bgList: rgba(255, 255, 255, 0.15);
    --btnClick: #EA3943;
    --modalText:#fff;

    --List1: #FF9298;
    --List2: #87F5D3;
    --gradient2: linear-gradient(180deg, #EA3943 -40.93%, rgba(234, 57, 67, 0.00520833) 125.47%, rgba(234, 57, 67, 0) 125.49%);
    --gradient1: linear-gradient(180deg, #16C782 -29.17%, rgba(22, 199, 130, 0) 118.38%);
    --currentPlanBtnBg:#fff;
    --currentPlanBtnText:#FF0000;
    --currentPlanBtnBgI:#FF0000;
    --planBG:linear-gradient(132.69deg, rgba(113, 104, 155, 0.4) 13.87%, rgba(20, 12, 57, 0.1) 98.5%);
    --smallText:rgba(255, 255, 255, 0.8);
    --smallTextI:#fff;
    --bgII:rgba(255, 255, 255, 0.12);
    --paymentSmallText:#BDBDBD;
    --paymentBorder:#fff;
    --paymentText:#fff;
    --paymentTextI:#fff;
    --paymentTextII:#fff;
    --paymentBorder:#fff;
    --iconBg:#FEF3F2;
    --iconText:#FF0000;
    --navBtnBG:linear-gradient(111.39deg, #FF0000 -26.06%, #7374FF 100.52%);
    --loginBorder:rgba(168, 168, 168, 0.19);
    --loginBG:linear-gradient(132.69deg, rgba(113, 104, 155, 0.4) 13.87%, rgba(20, 12, 57, 0.1) 98.5%);
    --loginInputBorder:#4C4F63;
    --bgMode:#F4F4F4;

}

body {
    font-family: 'Inter', sans-serif !important;
}


.bg-header {
    background-color: var(--foreground1);
}

.bg-white {
    background-color: var(--background);
}

.bg-modeBackground {
    background-color: var(--modeBackground);
}

.bg-modeIconBackSelect {
    background-color: var(--modeIconBackSelect);
}
.bg-bk {
    background: var(--foreground);
}

.primary {
    color: var(--primary);
}

.bg-secondary {
    background-color: var(--secondary);
}

.bgList {
    background-color: var(--bgList);
}

.dropDownBg {
    background-color: var(--dropDownBg);
}

.secondary {
    color: var(--secondary);
}

.gray {
    color: var(--gray);
}

.iconColor {
    color: var(--foreground);
}
.iconColor1 {
    color: var(--background);
}

.iconColor1 {
    background-color: var(--iconColorBg1);
    color: var(--iconColor);
}
.iconColor2{
    background-color: var(--iconColor);
    color: var(--secondary);
}

.back1 {
    background: var(--gradient1);
}

.back2 {
    background: var(--gradient2)
}

.backText {
    color: var(--foreground);
}

.textI {
    color: var(--textI);
}

.text2 {
    color: var(--text2);
}

.text3 {
    color: var(--text3);
}

.textII{
    color: var(--textII);
}
.tableHeaderText{
    color: var(--tableHeaderText);
}

.List2 {
    color: var(--List2);
}

.List1 {
    color: var(--List1);
}

.priceText {
    color: var(--priceText);
}

.primaryText {
    color: var(---primaryText);
}

/* Button */
.btnWaitlist {
    background: var(--btnWaitlist);
}
.btnClick{
    background-color: var(--btnClick);
    border-color: var(--btnClick);
}

.bgII{
    background-color: var(--bgII);
}

.CurrentPlanBtn{
    background-color: var(--currentPlanBtnBg);
    color: var(--currentPlanBtnText);
}
.CurrentPlanBtnI{
    border-color: var(--currentPlanBtnBg);
    color: var(--currentPlanBtnBg);
}
.currentPlanBtnBgI{
    background-color: var(--currentPlanBtnBgI);
    border-color: var(--currentPlanBtnBgI);
}
.navBtnBG{
    background: var(--navBtnBG);
}
.navBtnBorder{
    /* border: 2px solid;
    border-image: linear-gradient(to right, #ff5f6d, #ffc371);
    background-color: #fff;
    color: #000;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease; */
}

.loginBack{
    border-color: var(--loginBorder);
    background: var(--loginBG);
}

.planBG{
    background: var(--planBG);
}
.smallText{
    color: var(--smallText);
}
.smallTextI{
    color: var(--smallTextI);
}
.paymentSmallText{
    color: var(--paymentSmallText);
}
.modalText{
    color: var(--modalText);
}

.paymentText{
    color: var(--paymentText);
}
.paymentTextI{
    color: var(--paymentTextI);
}
.paymentTextII{
    color: var(--paymentTextII);
}

.modalBtnText{
    color: var(--modalText);
    border-color: var(--modalText);
}

.btn2 {
    background: var(--btn2);
}

.test {
    background-color: var(--background);
    color: var(--foreground);

}
.bgMode{
    background-color: var(--bgMode);
}

/*  */
.borderColor {
    border-color: var(--borderColor);
}
.borderColorI {
    border-color: var(--borderColorI);
}
.paymentBorder{
    border-color: var(--paymentBorder);
}
.paymentBorder{
    border-color: var(--paymentBorder);
}
.loginInputBorder{
    border-color: var(--loginInputBorder);
}

/*  */

.font-1 {
    font-family: 'Poppins', sans-serif;
}
.font-2 {
    font-family: 'Mulish', sans-serif;
}

.my-element {
    --animate-duration: 3.5s;
}

::-webkit-input-placeholder {
    /* WebKit browsers */
    font-size: var(--text-sm);
  }
  
  ::-moz-placeholder {
    /* Firefox 19+ */
    font-size: var(--text-sm);
  }
  
  :-ms-input-placeholder {
    /* IE 10+ */
    font-size: var(--text-sm);
  }
  
  :-moz-placeholder {
    /* Old versions of Firefox */
    font-size: var(--text-sm);
  }
  
  ::placeholder {
    /* Modern browsers */
    font-size: var(--text-sm);
  }

  .check{
    background-color: #0A0118;
    background-image: var(--navBtnBG);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
  }